// Styling for the masthead
header.masthead {
    position: relative;
    text-align: center;
    color: white;
    background-color: #4c5454;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    .intro-text {
        z-index: 1000;
        padding-top: 100px;
        padding-bottom: 30px;
        .intro-lead-in {
            font-size: 18px;
            font-style: italic;
            line-height: 18px;
            margin-bottom: 25px;
            @include serif-font;
        }
        .intro-subtitle {
            font-size: 18px;
            font-style: italic;
            line-height: 18px;
            margin-bottom: 25px;
            @include serif-font;
        }
        .intro-heading {
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 25px;
            @include heading-font;
        }
    }
    .header-image {
        position: absolute;
        bottom: 0px;
        picture {
            position: relative;
            bottom: 0px;
        }
    }
}

@media(min-width:768px) {
    header.masthead {
        .intro-text {
            
            .intro-lead-in {
                font-size: 40px;
                font-style: italic;
                line-height: 40px;
                margin-bottom: 25px;
                @include serif-font;
            }
            .intro-heading {
                font-size: 55px;
                font-weight: 700;
                line-height: 55px;
                margin-bottom: 50px;
                @include heading-font;
            }
        }
    }
}