@import "variables.scss";
section.education {
    background-color: $theme-primary;
    color: #fff;
    .education-list {
        max-width: 600px;
        margin: 20px auto;
    }
}

.image-tiles {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    li {
        position: relative;
        margin-bottom: 10px;
        .tile-image {
            img {
              border-radius: 20px;
            }
        }
        .front-text {
            .title {
                position: absolute;
                top: 20px;
                left: 20px;
                padding: 20px;
                color: #fff;
                font-size: 3em;
                @include script-font;
            }
            .content {
                position: absolute;
                bottom: 20px;
                right: 20px;
                padding: 20px;
                min-width: 160px;
                max-width: 420px;
                color: #fff;
            }
        }
    }
}

@media(min-width:250px) {
  .image-tiles {
    li {
      .tile-image {
        img {
          border-radius: 0;
          width:100%;
        }
      }
      .front-text {
        .title {
          font-size: 2em;
          bottom: 5px;
          right: 5px;
        }
        .content {
          bottom: 5px;
          right: 5px;
          font-size: 0.6em;
        }
      }
    }
  }
}

@media(min-width:440px) {
  .image-tiles {
    li {
      .tile-image {
        img {
          border-radius: 0;
          width:100%;
        }
      }
      .front-text {
        .title {
          font-size: 2em;
          bottom: 5px;
          right: 5px;
        }
        .content {
          bottom: 5px;
          right: 5px;
          font-size: 0.8em;
        }
      }
    }
  }
}

@media(min-width:768px) {
  .image-tiles {
    li {
      .tile-image {
        img {
          border-radius: 20px;
          width:inherit;
        }
      }
      .front-text {
        .title {
          font-size: 2em;
          bottom: 20px;
          right: 20px;
        }
        .content {
          bottom: 20px;
          right: 20px;
        }
      }
    }
  }
}