<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}

<body id="page-top">
  {{ partial "nav-top" . }}

  <!-- Header -->
  <!--<header class="masthead">
      <div class="container">
          <div class="intro-text">
              <div class="intro-lead-in">Welcome To Our Studio!</div>
              <div class="intro-heading">It's Nice To Meet You</div>
              <a class="btn btn-xl js-scroll-trigger" href="#services">Tell Me More</a>
          </div>
      </div>
  </header>-->

  {{ partial "header" . }}

  <!-- About -->
  <section id="about" class="about-me">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ .Params.introduction.title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12">
          {{ with .Params.introduction.responsive_image }}
          <div class="avatar-image {{.class}}">
            {{ partial "responsive-image" .}}
          </div>
          {{ end }}
        </div>
        <div class="col-lg-8 col-md-12">
          <p>
            {{ .Params.introduction.content | markdownify }}
          </p>
          {{ partial "social-buttons" .Params.social }}
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section id="about" class="shade">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ .Params.personal.title }}</h2>
          <h3 class="section-subheading text-muted">{{ .Params.personal.subtitle }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <p>
            {{ .Params.personal.content | markdownify }}
          </p>
        </div>
      </div>
    </div>
  </section>

    <!-- My projects -->
  <section class="education">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">My education</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="serviceline education-list">
            {{ range .Params.education }}
            <li>
              <div class="serviceline-panel">
                <div class="serviceline-body">
                  <div class="title">{{ .title }}</div>
                  <div class="years">{{ .years }}</div>
                  <div class="degree">{{ .degree}}</div>
                </div>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- My skills -->
  <section class="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">My skills</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="serviceline">
            {{ range $k, $v := .Params.skills }}
            <li>
              <div class="serviceline-panel">
                <div class="serviceline-heading">
                    <h4>{{ $v.title | markdownify }}</h4>
                </div>
                <div class="serviceline-body">
                  {{ with $v.content}}<p class="text-muted">  {{ . | markdownify }}</p>{{ end }}
                </div>
                <ul class="points text-muted">
                  {{ range $v.points }}
                  <li class="star"><i class="fa fa-star" aria-hidden="true"></i>{{ . | markdownify }}</li>
                  {{ end }}
                </ul>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- My projects -->
  <section class="projects">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ .Params.projects.title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="serviceline">
            {{ range $k, $v := .Params.projects.list }}
            <li>
              <div class="serviceline-panel">
                <div class="serviceline-heading">
                    <h4 class="underline">{{ $v.title | markdownify }}</h4>
                </div>
                <div class="serviceline-body">
                  {{ with $v.description}}<p class="text-muted tx-pad-vertical">  {{ . | markdownify }}</p>{{ end }}
                </div>
                <ul class="tags text-muted">
                  {{ range $v.technologies }}
                  <li class="tag"><i class="fa fa-tag" aria-hidden="true"></i>{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section id="about" class="hobbies">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ .Params.hobbies.title }}</h2>
          <h3 class="section-subheading text-muted">{{ .Params.hobbies.subtitle }}</h3>
        </div>
      </div>
      <div class="row">
        <ul class="image-tiles">
          {{ range .Params.hobbies.list }}
            <li>
              {{ with .responsive_image }}
              <div class="tile-image">
                {{ partial "responsive-image" .}}
              </div>
              {{ end }}
              <div class="front-text">
                <div class="title">{{ .title}}</div>
                <span class="content">{{ .content }}</span>
              </div>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>

  {{ partial "footer" . }}
</body>